.lp{
  &__benefits{
    margin:0 0 0 -53px;

    &.show-middle{
      margin-top:50px;
    }

    @include max(1500px){
      margin-left:0;
    }

    $root: &;

    &__item{
      text-align: center;
      width:330px;
      margin:100px auto 0;
      position: relative;

      &:first-child{
        margin-top:0;
      }

      @include max(580px){
        width: auto;
      }


      &:before{
        display: block;
        content:'';
        position: absolute;
        top:100%;

        @include max(1500px){
          display: none;
        };
      }

      &--1{
        #{$root}__icon{
          @include sprite($b1);
        }

        &:before{
          @include sprite($arr-1);
          left:100%;
          margin:0 0 0 50px;
        }
      }

      &--2{
        #{$root}__icon{
          @include sprite($b2);
        }

        &:before{
          @include sprite($arr-2);
          left:0;
          margin: 0 0 0 -150px;
        }

      }

      &--3{
        #{$root}__icon{
          @include sprite($b3);
        }
      }

      @include max(1048px){
        margin:0 auto 50px;
      }
    }

    &__icon{
      margin:0 auto;
      border-radius: 100%;
      position: relative;
      background: rgba(#fff, .7);
    }

    &__text{
      font-size: 22px;
      line-height: 1.3;
      font-family: $open-light;
      margin: -9px 0 0 7px;
      width: 450px;
      position: relative;
      left:50%;
      transform: translateX(-50%);


      a{
        color: $font-color;

        &:hover{
          text-decoration: none;
        }
      }


      @include max(1200px){
        width:350px;

        @include max(1048px){
          width: auto;
          left: auto;
          transform: translateX(0);
          margin-top:0;

          br{
            display: none;
          }
        }

      }


    }

    &__number{
      font-family: $open-bold;
      font-size: 37px;

      @include max(480px){
        font-size: 32px;
      }
    }
  }
}
