.lp{

  &__intro{
    text-align: center;
    margin:0 -60px 8px 0;

    @include max(1500px){
      margin-right:0;
    }


    h1{
      font-size: 96px;
      font-family: $bebas;
      text-transform: uppercase;
      line-height:1.3;
      margin:0;

      @include max(1700px){
        font-size:86px;
      }

      @include max(1500px){
        font-size:76px;
      }

      @include max($content-width){
        font-size: 70px;

        @include max(640px){
          font-size: 40px;
        }

        @include max(480px){
          font-size: 30px;
        }

        @include max(380px){
          font-size: 28px;
        }
      }
      
      .highlight{
        color: #f7e63f;
        font-size:110px;

        @include max(1500px){
          font-size:96px;

          @include max(1048px){
            font-size: inherit;
          }

        }


      }


      .next-line{
        display: block;
        font-size: 76px;

        @include max($content-width){
          font-size: 56px;

          @include max(640px){
            font-size: 41px;
          }

          @include max(480px){
            font-size: 30px;
          }

          @include max(380px){
            font-size: 28px;
          }

        }

      }


    }
  }
}
