html{
  width:100%;
  max-width: 100%;
}

body{
  width:100%;
  max-width: 100%;
  background: $bg-color url("../images/bg.png") 0 0 repeat;

  &, & *, & *:before, & *:after{
    box-sizing: border-box;
  }
}

.lp-body{
  max-width:100%;
  position: relative;
  overflow: hidden;
}


.lp{

  &__content{
    position: relative;
    padding-top: 43px;
    z-index:1;

    @include max(1024px){
      padding-top:80px;
    }

    @include max(580px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__columns{
    display: flex;

    @include max(1048px){
      display: block;
    }

    &--first{
      width:62.5%;
      text-align: center;

      @include max(1048px){
        width:100%;
      }

    }

    &--second{
      width:37.5%;

      @include max(1048px){
        display: none;
      }

    }
  }

}


.button-row{
  text-align: center;

  @include max(580px){
    padding:0 5px;
  }

}

.prompt{
  font-size: 20px;
  padding-top: 40px;

  a{
    margin: 0 20px;
  }

  @include max(480px){
    font-size: 16px;
  }
}

.lety-logo{
  position: fixed;
  right: 100px;
  bottom: 100px;

  @include max(1600px){
    display: none;
  }

  &__image{
    position: relative;
    z-index:2;
  }

  &__fog{
    @include sprite($fog);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.present-gift{
  text-align: center;
  padding: 11px 20px;
  font-family: $open-bold;
  font-size: 23px;
  line-height:1.2;
  background: rgba(#5494fc, 0.25);
  display: inline-block;
  vertical-align: top;
  margin:0 0 25px;

  @include max(1048px){
    font-size: inherit;
  }

}

.context-image{
  position: relative;
  left:-35px;
  margin-top:46px;

  @include max(580px){
    left:0;
  }

  img{
    max-width: 100%;
    display: block;
    margin:0 auto;
  }
}

.lp-logo{
  margin:-43px 0 -13px -50px;
  text-align: center;

  @include max(1500px){
    margin-left:0;
  }
}