.m-header{
  position: fixed;
  width:100%;
  height: 70px;
  z-index: 10;
  background: #f0f0f0;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);

  &__logo{
    padding:10px 0 0 0;

    .lety-logo__image{
      position: relative;
      left: -15px;
    }
  }
  
  &__burger{
    position: absolute;
    left:20px;
    top: 20px;
    width:35px;
    height:35px;

    svg{
      fill: #3a7298;
      width:36px;
      height:36px;
    }
  }
}