.lp-nav{
  text-align: center;
  padding:17px 0 0 0;
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  height:58px;
  background: rgba(#282828, 0.62);
  z-index:2;

  &__list{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    display: flex;
    justify-content: space-between;
    max-width: 655px;
  }

  &__item{
    display: inline-block;
    vertical-align: top;
    margin:0 10px;
    font-family: $open-light;
    font-size:20px;

    a{
      color: #fff;
      text-decoration: none;
      display: inline-block;
      border-bottom:1px solid #fff;
      transition: border-color 0.2s ease;

      &:hover{
        border-color: transparent;
      }
    }
  }


  &__logo{
    width:95px;
    margin:0 auto 20px;
    position: relative;
    left:-15px;
  }
  
  @include max(1048px){
    width: 80%;
    max-width: 300px;
    background: #fff;
    top:0;
    bottom: auto;
    height:100%;
    padding: 20px 0 0 0;
    text-align: left;
    z-index: 20;
    left:-300px;
    transition: left .2s ease;


    .nav-active & {
      left:0;
    }
    
    &__list{
      display: block;
    }
    
    &__item{
      display: block;
      margin:0 10px 10px;
      font-size:18px;

      a{
        color: #fff;
        display: block;
        padding:15px;
        background: #1e9aff;
      }

    }

  }
}

.lp-nav-overlay{
  display: none;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: #000;
  z-index:15;
  transition: all .2s ease;
  opacity:0;
  visibility: hidden;

  .nav-active & {
    opacity:.7;
    visibility: visible;
  }

  @include max(1048px){
    display: block;
  }
}