.tooltip-handler{
  cursor: pointer;
  transition: all 0.3s ease;
}

.tooltip{
  position: absolute;
  background: #fff;
  padding: 10px 15px;
  border:1px solid #ccc;
  top:50%;
  transform: translateY(-50%);
  z-index:2;
  min-width: 307px;
  text-align: left;
  line-height:1.3;
  transition: all 0.3s ease;
  opacity:0;
  visibility: hidden;
  color: #000;

  $root: &;

  .tooltip-handler:hover & {
    visibility: visible;
    opacity:1;
  }

  &:before, &:after{
    display: block;
    content:'';
    width:0;
    height:0;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-color: transparent;
    border-style: solid;
  }

  &:before{
    border-width: 8px 15px;
  }

  &:after{
    border-width: 10px 17px;
  }

  &--right{
    left: 100%;
    margin-left: 35px;

    .tooltip-handler:hover & {
      margin-left:15px;
    }

    &:before{
      border-right-color: #fff;
      left: -30px;
      z-index:2;
    }

    &:after{
      border-right-color: #ccc;
      left: -34px;
    }
  }
  &--left{
    right: 100%;
    margin-right: 35px;

    .tooltip-handler:hover & {
      margin-right:15px;
    }

    &:before{
      border-left-color: #fff;
      right: -30px;
      z-index:2;
    }

    &:after{
      border-left-color: #ccc;
      right: -34px;
    }
  }

}