/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arr-1-name: 'arr-1';
$arr-1-x: 407px;
$arr-1-y: 0px;
$arr-1-offset-x: -407px;
$arr-1-offset-y: 0px;
$arr-1-width: 101px;
$arr-1-height: 240px;
$arr-1-total-width: 609px;
$arr-1-total-height: 414px;
$arr-1-image: '~sprite.png';
$arr-1: (407px, 0px, -407px, 0px, 101px, 240px, 609px, 414px, '~sprite.png', 'arr-1', );
$arr-2-name: 'arr-2';
$arr-2-x: 508px;
$arr-2-y: 0px;
$arr-2-offset-x: -508px;
$arr-2-offset-y: 0px;
$arr-2-width: 101px;
$arr-2-height: 240px;
$arr-2-total-width: 609px;
$arr-2-total-height: 414px;
$arr-2-image: '~sprite.png';
$arr-2: (508px, 0px, -508px, 0px, 101px, 240px, 609px, 414px, '~sprite.png', 'arr-2', );
$b1-name: 'b1';
$b1-x: 0px;
$b1-y: 274px;
$b1-offset-x: 0px;
$b1-offset-y: -274px;
$b1-width: 140px;
$b1-height: 140px;
$b1-total-width: 609px;
$b1-total-height: 414px;
$b1-image: '~sprite.png';
$b1: (0px, 274px, 0px, -274px, 140px, 140px, 609px, 414px, '~sprite.png', 'b1', );
$b2-name: 'b2';
$b2-x: 140px;
$b2-y: 274px;
$b2-offset-x: -140px;
$b2-offset-y: -274px;
$b2-width: 140px;
$b2-height: 140px;
$b2-total-width: 609px;
$b2-total-height: 414px;
$b2-image: '~sprite.png';
$b2: (140px, 274px, -140px, -274px, 140px, 140px, 609px, 414px, '~sprite.png', 'b2', );
$b3-name: 'b3';
$b3-x: 280px;
$b3-y: 274px;
$b3-offset-x: -280px;
$b3-offset-y: -274px;
$b3-width: 140px;
$b3-height: 140px;
$b3-total-width: 609px;
$b3-total-height: 414px;
$b3-image: '~sprite.png';
$b3: (280px, 274px, -280px, -274px, 140px, 140px, 609px, 414px, '~sprite.png', 'b3', );
$fog-name: 'fog';
$fog-x: 0px;
$fog-y: 0px;
$fog-offset-x: 0px;
$fog-offset-y: 0px;
$fog-width: 407px;
$fog-height: 274px;
$fog-total-width: 609px;
$fog-total-height: 414px;
$fog-image: '~sprite.png';
$fog: (0px, 0px, 0px, 0px, 407px, 274px, 609px, 414px, '~sprite.png', 'fog', );
$spritesheet-width: 609px;
$spritesheet-height: 414px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($arr-1, $arr-2, $b1, $b2, $b3, $fog, );
$spritesheet: (609px, 414px, '~sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
